.heroPhoto {
	max-width: 100%;
}

.heroInfo {
	display: grid;
	grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
	background-color: #F7F7F7;
	padding: 10px 20px;
}

.heroInfo span {
	color: #1C4D43;
	font-size: 16px;
}

.heroInfo span:hover {
	cursor: default;
}

.heroInfo .heroName {
	font-size: 18px;
	font-weight: 500;
	line-height: 16px;
}

span {
	text-align: left;
}

.description {
	display: grid;
	grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 15px;
	color: #80A59D;
	font-size: 16px;
	padding: 0px 20px;
	width: 100%;

}

.description span:hover {
	cursor: default;
}
