.heroPhoto {
	width: 100%;
	cursor: pointer;
}

.heroInfo {
	display: grid;
	grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1.3fr;
	grid-column-gap: 20px;
	align-items: center;
	width: 100%;
	margin-bottom: 20px;
	background-color: #F7F7F7;
	padding: 10px 20px;
}

.heroInfo span {
	color: #1C4D43;
	font-size: 16px;
	width: 100%;
}

.heroInfo span:hover {
	cursor: default;
}

.heroInfo .heroName {
	font-size: 18px;
	font-weight: 500;
	line-height: 16px;
}

span {
	text-align: left;
	overflow: hidden;
}

.description {
	display: grid;
	grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1.3fr;
	grid-column-gap: 20px;
	text-align: left;
	margin-top: 40px;
	margin-bottom: 15px;
	color: #80A59D;
	font-size: 16px;
	padding: 0px 20px;
	width: 100%;

}

.description span:hover {
	cursor: default;
}

@media (max-width: 768px) {

	.heroInfo {
		grid-column-gap: 10px;
		width: auto;
	}

	.heroInfo span {
		font-size: 14px;
	}

	.heroInfo .heroName {
		font-size: 16px;
	}

	.description {
		grid-column-gap: 10px;
		font-size: 14px;
		width: auto;
	}
}


@media (max-width: 480px) {
	.heroInfo, .description {
		padding: 0;
	}

	.description {
		font-size: 12px
	}

	.heroInfo span {
		font-size: 12px;
	}

	.heroInfo .heroName {
		font-size: 14px;
	}
}
