.heroPhoto {
	width: 100px;
}

.heroInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 30px;
}

.heroInfo span {
	flex-wrap: wrap;
	min-width: 20%;
	color: #1C4D43;
	font-size: 16px;
}

.heroInfo span:hover {
	cursor: default;
}

.heroInfo .heroName {
	font-size: 18px;
	font-weight: 500;
	line-height: 16px;
}

span {
	text-align: left;
}