.result_page {
	width: 100%;
	padding: 50px 100px;
	margin-left: 40%;
	position: relative;
}

.topPannel {
	display: flex;
	align-items: center;
	margin-bottom: 100px;
}

.searchTitle {
	margin-left: 60px;
	color: #1C4D43;
	font-weight: 500;
	font-size: 30px;
	line-height: 16px;
}

.backButton {
	background-color: #FAFAFA;
	background-image: url('../../assets/images/Path10.svg');
	background-repeat: no-repeat;
	background-position: center;
	border: 1px solid #EDFDF3;
	box-sizing: border-box;
	border-radius: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.description {
	display: flex;
/*	justify-content: space-between;
*/	margin-top: 40px;
	margin-bottom: 15px;
	color: #80A59D;
	font-size: 16px;
}

.description span {
	min-width: 20%;
}

.description span:hover {
	cursor: default;
}


hr {
	color: #F0F0F0;
}

.options {
	color: #1C4D43;
	font-size: 14px;
	font-weight: 500;
}

.options:hover {
	cursor: default;
}

.optionValues {
	padding: 7px 20px;
	background-color: #1C4D43;
	border-radius: 4px;
	color: #fff;
	margin-left: 15px;
	font-size: 12px;
	line-height: 28px;
	font-weight: 500;
}

.optionValues:hover {
	cursor: default;
}